[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/SlipInPlace"]
	path = lib/SlipInPlace
	url = https://github.com/drjrkuhn/SlipInPlace.git
[submodule "ArduinoCore-host"]
	path = lib/ArduinoCore-host
	url = https://github.com/drjrkuhn/ArduinoCore-host.git
